@import url('https://fonts.googleapis.com/css?family=Anton|Catamaran|Quicksand');

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

.application, .headline, .title, .display-1, .display-2, .display-3, .display-4, .headline {
  font-family: Anton, sans-serif !important;
}

#app {
  padding-top: 75px;
  font-family: Catamaran, sans-serif !important;
  font-weight: normal;
}

.theme--dark.v-btn.v-btn--disabled {
  color: white !important;
}

.card-padding {
  padding: 5px !important;
  margin-bottom: 0 !important;
  background-color: rgba(10, 10, 10, 0.5); ;
}

.subheading,
.footer-year {
  font-family: Catamaran, sans-serif !important;
}

.dg-text {
  color: #303030 !important;
  caret-color: #303030 !important;
}

.dg-icon:hover {
  color: white !important;
}

.custom-font {
  font-size: 17px;
  font-weight: bold !important;
}

.dialog-text {
  padding: 100px;
}

.theme--dark.v-navigation-drawer,
.nav-bg {
  background-color: #212121;
}

.nav-bg-active {
  background-color: #ef9738 !important;
}

.overflow-vis {
  overflow: visible;
  height: stretch !important;
}

.layout.row.fixed {
  max-height: 0px !important;
}

.s-iframe {
  height: stretch;
  border: none;
}

